.navbar
    width: 100%
    height: 3rem
    background-color: #02021E
    padding: 1.5rem

.logo
    background-image: url('./blockinar-hotel.png')
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-size: contain