.table-components
    display: flex

@media only screen and (max-width: 800px) 
    .table-components
        display: flex
        flex-direction: column    
    .logo
        margin-top: 8px
        width: 12rem
  
@media only screen and (max-width: 515px) 
    tr
        font-size: 0.6rem  
    .logo
        margin-top: 11px
        width: 10rem 

@media only screen and (max-width: 393px) 
    tr
        font-size: 0.5rem   
    table td, table th 
        padding: 4px
    .logo
        margin-top: 20px
  
/** media only screen and (max-width: 913px) 
  .input-box
    margin: 1rem **/

/** media only screen and (max-width: 726px) 
    textarea
        height: 5rem
    .input-box
        margin: 0
    .subtitle-contact
        font-size: 1.1rem
        margin: 0 1rem
    label, input, textarea, .submit-btn
       font-size: 1rem      **/ 